src/resources/Calculadora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main.aytos.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://main.aytos.es" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://main.aytos.es">
            <xs:element name="resta">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="restaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sumar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sumarResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="multiplicar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="multiplicarResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dividir">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dividirResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="dividirResponse">
    <wsdl:part name="parameters" element="ns:dividirResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplicarRequest">
    <wsdl:part name="parameters" element="ns:multiplicar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restaRequest">
    <wsdl:part name="parameters" element="ns:resta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restaResponse">
    <wsdl:part name="parameters" element="ns:restaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sumarRequest">
    <wsdl:part name="parameters" element="ns:sumar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sumarResponse">
    <wsdl:part name="parameters" element="ns:sumarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplicarResponse">
    <wsdl:part name="parameters" element="ns:multiplicarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dividirRequest">
    <wsdl:part name="parameters" element="ns:dividir">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalculadoraPortType">
    <wsdl:operation name="sumar">
      <wsdl:input message="ns:sumarRequest" wsaw:Action="urn:sumar">
    </wsdl:input>
      <wsdl:output message="ns:sumarResponse" wsaw:Action="urn:sumarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <wsdl:input message="ns:multiplicarRequest" wsaw:Action="urn:multiplicar">
    </wsdl:input>
      <wsdl:output message="ns:multiplicarResponse" wsaw:Action="urn:multiplicarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <wsdl:input message="ns:dividirRequest" wsaw:Action="urn:dividir">
    </wsdl:input>
      <wsdl:output message="ns:dividirResponse" wsaw:Action="urn:dividirResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resta">
      <wsdl:input message="ns:restaRequest" wsaw:Action="urn:resta">
    </wsdl:input>
      <wsdl:output message="ns:restaResponse" wsaw:Action="urn:restaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculadoraSoap12Binding" type="ns:CalculadoraPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sumar">
      <soap12:operation soapAction="urn:sumar" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <soap12:operation soapAction="urn:multiplicar" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <soap12:operation soapAction="urn:dividir" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resta">
      <soap12:operation soapAction="urn:resta" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculadoraHttpBinding" type="ns:CalculadoraPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="sumar">
      <http:operation location="Calculadora/sumar"/>
      <wsdl:input>
        <mime:content part="sumar" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="sumar" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <http:operation location="Calculadora/multiplicar"/>
      <wsdl:input>
        <mime:content part="multiplicar" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="multiplicar" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <http:operation location="Calculadora/dividir"/>
      <wsdl:input>
        <mime:content part="dividir" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="dividir" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resta">
      <http:operation location="Calculadora/resta"/>
      <wsdl:input>
        <mime:content part="resta" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="resta" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculadoraSoap11Binding" type="ns:CalculadoraPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sumar">
      <soap:operation soapAction="urn:sumar" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <soap:operation soapAction="urn:multiplicar" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <soap:operation soapAction="urn:dividir" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resta">
      <soap:operation soapAction="urn:resta" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculadora">
    <wsdl:port name="CalculadoraHttpSoap11Endpoint" binding="ns:CalculadoraSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/Calculadora"/>
    </wsdl:port>
    <wsdl:port name="CalculadoraHttpSoap12Endpoint" binding="ns:CalculadoraSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/Calculadora"/>
    </wsdl:port>
    <wsdl:port name="CalculadoraHttpEndpoint" binding="ns:CalculadoraHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/Calculadora"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
